html {
  scroll-behavior: smooth;
}

ul {
  padding-left: 21px !important;
  padding-right: 21px !important;
}

.custom-list-style-none {
  list-style-type: none;
  padding: 0;
}

.min-vh-100 {
  min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff !important;
  /* background-image: linear-gradient(112.4deg, rgba(169,28,115,1) 21.6%, rgba(219,112,54,1) 92.2% ); */
  background-image: linear-gradient( 171.8deg, rgba(5, 111, 146, 1) 13.5%, rgba(6, 57, 84, 1) 78.6%);
  /* transition: all 300ms ease-in; */
}

.bg-blue-gray {
  background-image: linear-gradient( 79.8deg, rgba(101, 132, 154, 0.3) 3.2%, rgba(160, 197, 201, 0.3) 89.1%) !important;
}

.bg-dark-blue {
  color: #fff !important;
  background-image: linear-gradient( 171.8deg, rgba(5, 111, 146, 1) 13.5%, rgba(6, 57, 84, 1) 78.6%);
}

.custom-text-gray {
  color: #414141;
}

/* 
.custom-height-23px {
  height: 23px;
} 
*/

.custom-font-weight-503 {
  font-weight: 503;
}

.custom-font-weight-499 {
  font-weight: 499;
}

.custom-font-weight-300 {
  font-weight: 300;
}

.custom-font-size-1-15-rem {
  font-size: 1.15rem;
}

.custom-hr {
  margin-top: 28px;
  margin-bottom: 19px;
}

.custom-p-box {
  border-radius: 18px;
}

.custom-jumbotron {
  border-radius: 15px;
  padding-top: 39px;
  padding-bottom: 15px;
  background-color: rgb(233 236 239 / 63%) !important;
}

.custom-img {
  max-height: 96px;
}